<html>
	<head>
		<style>
			/* Seu CSS personalizado */
			body {
				font-family: Arial, sans-serif;
			}
			      /* Seu CSS personalizado */
				  table {
					border-collapse: collapse;
					width: 100%;
				}
				th, td {
					border: 1px solid #ddd;
					padding: 8px;
					text-align: left;
				}
				th {
					background-color: #f2f2f2;
				}
			/* Adicione outros estilos conforme necessário */
		</style>
	</head>
	<body>
		<h1>Relatório Personalizado</h1>
		<!-- Seu HTML personalizado -->
		<table>
			<tr>
				<td style="background-color: aqua;" >Data E Hora Inicial Da Fase</td>
				<td>Data E Hora Final Da Fase</td>
			</tr>
			<tr>
				<td>26/07/2023 16:39:00</td>
				<td>26/07/2023 16:39:30</td>
			</tr>
			<tr>
				<td>Tempo De Execução</td>
				<td>Tempo De Inatividade</td>
			</tr>
			<tr>
				<td>20 M</td>
				<td>0 M</td>
			</tr>
		</table>
		<!-- Adicione mais elementos HTML conforme necessário -->
		<table>
			<tr>
				<td>Fase</td>
				<td>Data e Hora</td>
				<td>xxxxx</td>
				<td>yyyyy</td>
				<td>zzzzzz</td>
			</tr>
			<tr>
				<td>AGITAÇÃO APÓS AJUSTE DE VOLUME POR PESO</td>
				<td>26/07/2023 16:41:00</td>
				<td>0</td>
				<td>25</td>
				<td>6,8</td>
			</tr>
			<tr>
				<td>26/07/2023 16:41:30</td>
				<td>0</td>
				<td>25</td>
				<td>6,8</td>
				<td></td>
			</tr>
			<tr>
				<td>26/07/2023 16:42:00</td>
				<td>0</td>
				<td>25</td>
				<td>6,8</td>
				<td></td>
			</tr>
			<tr>
				<td>26/07/2023 16:42:30</td>
				<td>0</td>
				<td>25</td>
				<td>6,8</td>
				<td></td>
			</tr>
			<tr>
				<td>26/07/2023 16:43:00</td>
				<td>0</td>
				<td>25</td>
				<td>6,8</td>
				<td></td>
			</tr>
		</table>
	</body>
</html>
