<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Relatório com Filtros</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
	<h2>Relatório com Filtros</h2>
	<form id="filterForm">
		<div class="form-row">
			<div class="col-md-2">
				<label for="startDate">Data Inicial</label>
				<input type="date" class="form-control" id="startDate" name="startDate">
			</div>
			<div class="col-md-2">
				<label for="endDate">Data Final</label>
				<input type="date" class="form-control" id="endDate" name="endDate">
			</div>
			<div class="col-md-2">
				<label for="operator">Operador</label>
				<input type="text" class="form-control" id="operator" name="operator">
			</div>
			<div class="col-md-3">
				<label for="lot">Lote</label>
				<input type="text" class="form-control" id="lot" name="lot">
			</div>
		</div>
		<div class="form-row mt-3">
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary btn-block">Gerar Relatório</button>
			</div>
		</div>
	</form>

	<div class="mt-4" id="reportDataCabecalho">
		<table class="table">
			<thead>
			<tr>
				<th>Usuário</th>
				<th>Status ciclo</th>
				<th>Receita</th>
				<th>Lote</th>
				<th>Reator</th>
				<th>Data inicial Batelada</th>
				<th>Data final Batelada</th>
				<th>Velocidade receita</th>
				<th>Temperatura receita</th>
				<th>PH Receita</th>
			</tr>
			</thead>
			<tbody id="reportTableCabecalhoBody"></tbody>
		</table>
	</div>
	<!-- Tabela para exibir os resultados -->
	<div class="mt-4" id="reportData">
		<table class="table">
			<thead>
			<tr>
				<th>Data e hora inicial da fase</th>
				<th>Data e hora final da fase</th>
				<th>Tempo de execução</th>
				<th>Tempo de inatividade</th>

				<th>Fase</th>
				<th>Data e Hora</th>
				<th>Rotação</th>
				<th>Temperatura</th>
				<th>PH</th>
			</tr>
			</thead>
			<tbody id="reportTableBody"></tbody>
		</table>
	</div>

		<!-- Adicione os botões para download -->
	<div class="form-row mt-3">
		<div class="col-md-2">
			<button id="downloadPDF" class="btn btn-secondary btn-block">Baixar PDF</button>
		</div>
		<div id="editor"></div>
		<div class="col-md-2">
			<button id="downloadExcel" class="btn btn-secondary btn-block">Baixar Excel</button>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
<script>
	// Adicione seu código JavaScript para processar o formulário aqui
	$('#filterForm').submit(function (e) {
		e.preventDefault();

		let startDate = $('#startDate').val();
		let endDate = $('#endDate').val();
		let operator = $('#operator').val();
		let lot = $('#lot').val();
		// validar();
		$.ajax({
			method: 'GET',
			url: '/relatorio',
			data: {
				startDate: startDate,
				endDate: endDate,
				operator: operator,
				lote: lot
			},
			success: function (response) {
				fillTable(response);
			},
			error: function (error) {
				debugger
				console.error(error);
			}
		});
	});

	function getValueRow(data, dataIni, dataFim, indice) {


	}

	function fillTable(data) {
		if (data.length === 0) {
			alert('Nenhum registro encontrado');
			return;
		}
		var fases = [];


		for (index in data) {
			for (index2 in data[index]['Fase']) {
				fases.push({'fase': index2, 'valorMin': data[index]['Fase'][index2][0], 'valorMax': data[index]['Fase'][index2].pop()});
			}


			debugger
			let reportTableCabecalhoBody = $('#reportTableCabecalhoBody');
			reportTableCabecalhoBody.empty();
			Object.values(data).forEach(function (row) {
				debugger
				let rowHtml = `<tr>
									<td>${row.NomeUsuario}</td>
									<td>${row.Ciclo_ok_nok}</td>
									<td>${row.Nome_receita}</td>
									<td>${row.Num_Lote}</td>
									<td>${row.ID_Dorna}</td>
									<td>${row.dataMin}</td>
									<td>${row.dataMax}</td>
									<td>${row.velocidadeReceita}</td>
									<td>${row.temperaturaReceita}</td>
									<td>${row.phReceita}</td>
							</tr>`;
				reportTableCabecalhoBody.append(rowHtml);
			});



			let tableBody = $('#reportTableBody');
			tableBody.empty();

			$i = 1;
			Object.values(fases).forEach(function (row) {
				debugger
				let rowHtml = `<tr>
									<td>${row.dataMin}</td>
									<td>${row.dataMax}</td>
									<td>${getValueRow(data[index], row.dataMin, row.dataMax, 'Tempo_execucao')}</td>
									<td><td>${getValueRow(data[index], row.dataMin, row.dataMax, 'Tempo_inativo')}</td>
									<td>${row.fase}</td>
									<td>${getValueRow(data[index], row.dataMin, row.dataMax, 'DateAndTime')}</td>
									<td>${getValueRow(data[index], row.dataMin, row.dataMax, 'rotacao')}</td>
									<td>${getValueRow(data[index], row.dataMin, row.dataMax, 'temperatura')}</td>
									<td>${getValueRow(data[index], row.dataMin, row.dataMax, 'ph')}</td>
							</tr>`;
				$i++;
				tableBody.append(rowHtml);
			});
		}
	}

	var doc = new jsPDF('l', 'mm', 'a4');
	$('#downloadPDF').on('click', function() {
		$.ajax({
			url: '/impressao',
			method: 'GET',
			success: function(response) {
				var customHtml = response;
				var options = {
					pagesplit: true // Permite que o conteúdo seja dividido em várias páginas, se necessário
				};
				doc.fromHTML(response, 40, 15, {
					'width': 170
				});
				doc.save('exemplo-pdf.pdf');
			},
			error: function(error) {
				console.error(error);
			}
		});
	});

	$('#downloadExcel').on('click', function() {
		downloadExcel();
	});

</script>
</body>
</html>
