<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Relatório com Filtros</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
	<h2>Relatório com Filtros</h2>
	<form id="filterForm">
		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label for="startDate">Data Inicial</label>
				<input type="date" class="form-control" id="startDate" name="startDate" placeholder="Data Inicial">
			</div>
			<div class="col-md-3 mb-3">
				<label for="endDate">Data Final</label>
				<input type="date" class="form-control" id="endDate" name="endDate" placeholder="Data Final">
			</div>
			<div class="col-md-3 mb-3">
				<label for="operator">Operador</label>
				<input type="text" class="form-control" id="operator" name="operator">
			</div>
			<div class="col-md-3 mb-3">
				<label for="lot">Lote</label>
				<input type="text" class="form-control" id="lot" name="lot">
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-3">
				<button type="submit" class="btn btn-primary btn-block">Gerar Relatório</button>
			</div>
		</div>
	</form>


	<div class="mt-4" id="reportDataCabecalho"></div>
	<div class="mt-4" id="reportTableBody"></div>
	<!-- <div class="form-row mt-3">
		<div class="col-md-2">
			<button id="downloadPDF" class="btn btn-secondary btn-block">Baixar PDF</button>
		</div>
		<div id="editor"></div>
		<div class="col-md-2">
			<button id="downloadExcel" class="btn btn-secondary btn-block">Baixar Excel</button>
		</div>
	</div> -->
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
<script src="../css/app.css"></script>
<script>
	$('#filterForm').submit(function (e) {
		e.preventDefault();
		let startDate = $('#startDate').val();
		let endDate = $('#endDate').val();
		let operator = $('#operator').val();
		let lot = $('#lot').val();
		// validar();
		$.ajax({
			method: 'GET',
			url: '/relatorio',
			data: {
				startDate: startDate,
				endDate: endDate,
				operator: operator,
				lote: lot
			},
			success: function (response) {
				debugger
				fillTable(response);
			},
			error: function (error) {
				debugger
				console.error(error);
			}
		});
	});
	function fillTable(data) {
		if (data.length === 0) {
			alert('Nenhum registro encontrado');
			return;
		}
		var fases = [];

		for (index in data) {
			for (index2 in data[index]['Fase']) {
				fases.push({'fase': index2, 'valorMin': data[index]['Fase'][index2][0], 'valorMax': data[index]['Fase'][index2].pop()});
			}
			$('#reportTableCabecalhoBody, #reportDataCabecalho').empty();
			Object.values(data).forEach(function (row) {
				let table = $('<table>', { class: 'table' }).append(
					$('<thead>').append(
						$('<tr>').append(
							$('<th>', { text: 'Usuário' }),
							$('<th>', { text: 'Status ciclo' }),
							$('<th>', { text: 'Receita' }),
							$('<th>', { text: 'Lote' }),
							$('<th>', { text: 'Reator' }),
							$('<th>', { text: 'Data inicial Batelada' }),
							$('<th>', { text: 'Data final Batelada' }),
							$('<th>', { text: 'Velocidade receita' }),
							$('<th>', { text: 'Temperatura receita' }),
							$('<th>', { text: 'PH Receita' })
						)
					),
					$('<tbody>', { id: 'reportTableCabecalhoBody' })
				);

				$('#reportDataCabecalho').append(table);

				let rowHtml = $('<tr>').append(
					$('<td>', { text: row.NomeUsuario }),
					$('<td>', { text: row.Ciclo_ok_nok }),
					$('<td>', { text: row.Nome_receita }),
					$('<td>', { text: row.Num_Lote }),
					$('<td>', { text: row.ID_Dorna }),
					$('<td>', { text: row.dataMin }),
					$('<td>', { text: row.dataMax }),
					$('<td>', { text: row.Veloc_receita }),
					$('<td>', { text: row.Temperatura_receita }),
					$('<td>', { text: row.PH_receita })
				);

				$('#reportTableCabecalhoBody').append(rowHtml);

				$('#reportTableBody').empty();
				i = 1;
				Object.values(fases).forEach(function (row) {
					debugger
					let headerRowHtml = $('<table>', { class: 'table', 'id': i}).append(
						$('<thead>').append(
							$('<th>', { text: 'Fase' }),
							$('<th>', { text: 'Data e hora inicial' }),
							$('<th>', { text: 'Data e hora final' }),
							$('<th>', { text: 'Tempo de execução' }),
							$('<th>', { text: 'Tempo de inatividade' }),
							$('<th>', { text: 'Data e Hora' }),
							$('<th>', { text: 'Rotação' }),
							$('<th>', { text: 'Temperatura' }),
							$('<th>', { text: 'PH' })
						),
						$('<tbody>', { id: 'tableBody' }).append(
							getValueRow(row.fase, row.valorMin, row.valorMax, data, i)
						)
					);
					$('#reportTableBody').append(headerRowHtml);
					i++;
				});
			});
		}
	}

	function getValueRow(fase, dataIni, dataFim, data, indice) {
		var rows = [];
		var firstRow = true;
		var cells = [];
		for (index in data) {
			for (index2 in data[index]['PH']) {
				if (index2 >= dataIni || index2 <= dataFim) {
					var cells = [
						$('<td>', { text: indice +'°  ' + fase }),
						$('<td>', { text: dataIni }),
						$('<td>', { text: dataFim }),
						$('<td>', { text: data[index]['Tempo_execucao'][index2] }),
						$('<td>', { text: data[index]['Tempo_inativo'][index2] }),
						$('<td>', { text: index2 }),
						$('<td>', { text: data[index]['Velocidade'][index2] }),
						$('<td>', { text: data[index]['Temperatura'][index2] }),
						$('<td>', { text: data[index]['PH'][index2] })
					];
					rows.push($('<tr>').append(cells));
					var firstRow = false;
				}
			}
		}

		return rows;
	}

	var doc = new jsPDF('l', 'mm', 'a4');
	$('#downloadPDF').on('click', function() {
		$.ajax({
			url: '/impressao',
			method: 'GET',
			success: function(response) {
				var customHtml = response;
				var options = {
					pagesplit: true // Permite que o conteúdo seja dividido em várias páginas, se necessário
				};
				doc.fromHTML(response, 40, 15, {
					'width': 170
				});
				doc.save('exemplo-pdf.pdf');
			},
			error: function(error) {
				console.error(error);
			}
		});
	});

	$('#downloadExcel').on('click', function() {
		downloadExcel();
	});

</script>
</body>
</html>
